.menu-bar {
  background-color: #ffffff;
  padding: 10px;
  display: flex;
  align-items: center;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
}

.footer {
  padding: 10px;
  display: flex;
  align-items: center;
  margin-left: 5em;
  font-size: 22px;
}

.logo {
  margin-left: 5em;
  height: 3em;
}

.login-form {
  max-width: 400px;
  margin: 0 auto;
  background-color: rgb(255, 255, 255);
  padding: 80px;
  border-radius: 5px;
  text-align: center;
  margin-top: 15px;
  margin-bottom: 15px;
}

.login-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-background {
  background-image: url("/Users/gyanmatrix/tracker/src/images/loginimg.png");
  background-size: cover;
  background-position: center;
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.login {
  font-size: 42px;
  font-weight: 500;
  text-align: center;
  margin-bottom: 15px;
  margin-top: -10px;
  margin-left: 1em;
}

.form-group {
  margin-bottom: 20px;
  margin-right: 48px;
}

input {
  width: 120%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 15px;
}

input::placeholder {
  padding-left: 10px;
  line-height: 5;
}

.login-button {
  padding: 10px 16px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  width: 100%;
}

.login-button:hover {
  background-color: #0056b3;
}

.footer {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  display: inline-block;
}

.line {
  position: absolute;
  /* left: 76px; */
  bottom: 56px;
  width: 97%;
  height: 1px;
  background-color: #000;
  border: none;
}

.footer-content {
  display: flex;
  /* flex-direction: column; */
}

.menu-items ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.menu-items li {
  display: inline-block;
  margin-right: 10px;
  margin-top: 10px;
  margin-bottom: 7px;
}

.menu-items a {
  text-decoration: none;
  color: #333;
  font-size: 15px;
  margin-top: 10em;
}

.menu-items a:hover {
  text-decoration: underline;
}

.copy-section {
  margin-top: 22px;
  font-size: 12px;
  margin-left: 108em;
}

.copy-text {
  margin: 0;
}

.error-message {
  color: red;
}

.search-input {
  display: flex;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 8px;
  width: 50%;
  margin-left: 28em;
  margin-top: 3em;
}

.search-input input[type="text"] {
  flex: 1;
  border: none;
  outline: none;
  padding: 0 8px;
}

.search-icon {
  border-radius: 50%;
  margin-left: 8px;
  cursor: pointer;
}

.user-list {
  max-width: 800px;
  margin: 0 auto;
  padding: 16px;
  margin-top: 3em;
  margin-bottom: 3em;
}

.user-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 28px;
}

.user-card {
  display: flex;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 14px;
  /* padding: 16px; */
  border-radius: 16px;
  box-shadow: 4px 0 8px rgba(0, 0, 0, 0.1);
}

.user-image {
  width: 138px;
  height: 138px;
  border-radius: 10%;
}

.user-details {
  margin-left: 16px;
}

.user-name {
  font-weight: bold;
}

.user-email,
.user-country {
  margin: 20px 0;
  color: gray;
}
